<a href="https://colab.research.google.com/github/robertferro/br-python-challenges/blob/master/Desafio_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 5
Você trabalha em uma loja de sapatos e deve contatar uma lista de clientes dada pela seguinte lista de números de telefones:

In [1]:
numeros_telefone = [
'(765) 368-1506',
'(285) 608-2448',
'(255) 826-9050',
'(554) 994-1517',
'(285) 608-2448',
'(596) 336-5508',
'(511) 821-7870',
'(410) 665-4447',
'(821) 642-8987',
'(285) 608-2448',
'(311) 799-3883',
'(935) 875-2054',
'(464) 788-2397',
'(765) 368-1506',
'(650) 684-1437',
'(812) 816-0881',
'(285) 608-2448',
'(885) 407-1719',
'(943) 769-1061',
'(596) 336-5508',
'(765) 368-1506',
'(255) 826-9050',
]

No entanto, alguns destes números estão duplicados. Você seria capaz de remover estes duplicados para evitar que clientes sejam contatado mais de uma vez?

In [15]:
numeros_sem_repeticao = list(set(numeros_telefone))
print(numeros_sem_repeticao)

['(821) 642-8987', '(511) 821-7870', '(650) 684-1437', '(410) 665-4447', '(255) 826-9050', '(554) 994-1517', '(765) 368-1506', '(935) 875-2054', '(285) 608-2448', '(885) 407-1719', '(311) 799-3883', '(464) 788-2397', '(812) 816-0881', '(596) 336-5508', '(943) 769-1061']

In [8]:
import pandas as pd
df_numeros = pd.DataFrame(numeros_sem_repeticao)

In [13]:
df_numeros.columns = ['numeros']
df_numeros

           numeros
0   (821) 642-8987
1   (511) 821-7870
2   (650) 684-1437
3   (410) 665-4447
4   (255) 826-9050
5   (554) 994-1517
6   (765) 368-1506
7   (935) 875-2054
8   (285) 608-2448
9   (885) 407-1719
10  (311) 799-3883
11  (464) 788-2397
12  (812) 816-0881
13  (596) 336-5508
14  (943) 769-1061